* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.all_side{
    width: 100%;
    margin: 0 auto;
}
/*---------------------BLOCK HEADER---------------------*/

header{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}
.heading {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
}
.container{
    width: 100%;
    position: relative;
    margin: 0 auto;
    background: #16151b  url(../img/bg.jpg) center top/cover no-repeat;
}
.logo{
    margin-top:41px;
    float:left;
    margin-left: 10%;
}
.menu_block{
    margin-left: 35%;
}
nav{
    float:right;
    margin-top:0;
    height: 16px;
}

.menu{
    padding:0;
    margin: 0;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 55%;
    text-align: center;

}
.menu a:hover {
    opacity: 0.7;
    color: #008ed6;
    transition: 0.2s;
}
.menu li{
    float:left;
    display: inline-flex;
    flex-wrap: wrap;
    margin-right: 23px;
    margin-top: 42px;
    order: 2;
    width: min-content;

}
.menu li a {
    color:#fff;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 2px;


}

.menu > li:hover:before {
    content:'';
    box-sizing: border-box;
    display: inline-block;
    height: 2px;
    width: calc(50% - 1px);
    background: #008ed6;
    order: 1;
    margin-top: 5px;
}
.menu > li:hover:after {
    content: '';
    box-sizing: border-box;
    display: inline-block;
    height: 2px;
    width: calc(50% - 1px);
    background: #008ed6;
    margin-left: 2px;
    order: 3;
    margin-top: 5px;
}
.main{
    width: 100%;
    padding-top: 48px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.titles{
    width: 35%;
    margin-top: 5%;
    margin-bottom: 40px;
}

.one_part {
    margin-left: 10%;
}

.titles_first{

    font-size: 18px;
    font-weight: bold;
    color:#0c4d72;
    text-transform: uppercase;
    letter-spacing: 2px;
}
h1{
    width: 100%;
    margin-top: 6%;
    color: #ffffff;
    font-size: 46px;
    font-weight: 600;
    line-height: 65px;
}
span{
    width: 100%;
    margin-top: 5%;
    color: #999999;

}
.button_all{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    width: max-content;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 4%;
}
.button {

    color: #ffffff;
    border-radius: 3px;
    display:block;
    width: 160px;
    height: 50px;
    box-shadow: 0 0 3px rgba(3, 3, 3, 0.1);
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 50px;
    margin: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.button_sec{
    color: #ffffff;
    width: 160px;
    height: 50px;
    display:block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin: 5px;
}
.button:hover{
    background-color: #008ed6;
    color: #ffffff;
}
.button {
    background-color: #008ed6;
    color: #ffffff;

}
.phone{
    position: absolute;
    right: 50px;
    width: 100%;
    margin-top: 51px;
    bottom: -4px;
}
.phone_one{
    margin-left: 53%;
    max-width: 31%;

}
/*---------------------BLOCK PRODUCT---------------------*/

.icon_comp, .icon_set, .icon_like, .icon_tel {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 1px gray solid;
    border-radius: 50%;
    /*Выравнивание иконки в блоке (в кружке)*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.product{
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    margin: 0 auto;
}
.block_title{
    width: 100%;
    margin:0 auto;
    margin-bottom: 1%;
    padding-top: 20px;

}
.block_title h3{
    color: #008ed6;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1%;
    margin-top: 40px;

}
.block_title h2{
    color: #1a1a1a;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}
.all{
    background-color: #ffffff;
    height: 40%;
}
.items{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    padding: 76px 0;

}
.item {
    text-align: center;
    width: 15%;
}
.item h2{
    padding-top: 38px;

}
.item_text{
    margin-top: 7%;
    color: #999999;
}
.block_title h2:after {
    content:'';
    display:block;
    margin: 35px auto 0;
    width:2px;
    height: 2px;
    border-left:20px #008ed6 solid;
    border-right: 20px #008ed6 solid;
}
/*---------------------BLOCK DEVICE---------------------*/
.device{
    width: 100%;
    margin: 0 auto;
    border-top: 1px rgba(201,201,194,0.97) solid;
}
.info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 66px;

}
.beauty{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.dev_two{
    width: 30%;
}
.block_titlew{
    width: 100%;

}
.block_titlew h3{
    color: #008ed6;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    text-align:left;

}
.block_titlew h2{
    font-family: 'Source Sans Pro', sans-serif;
    color: #1a1a1a;
    font-size: 36px;
    font-weight: bold;
    line-height: 48px;
    text-align: left;
    margin-top: 4%;
}
.block_titlew h2:after {
    content:'';
    display:block;
    margin: 35px 0 auto;
    width:2px;
    height: 2px;
    border-left:20px #008ed6 solid;
    border-right: 20px #008ed6 solid;
}
.text_area{
    text-align: left;
    justify-content: space-between;
    width: 50%;
    margin-top: 20px;
}
.small_icon{
    display:flex;
    flex-direction: column;
}
.discription{
    display:flex;
    flex-direction: column;
    height: 100%;
    line-height: 20px;
    margin-left: 10px;
}
.text_two{
    display: flex;
    padding-top: 35px;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
.device_sec{
    width: 100%;
    margin: 0 auto;
    height: 543px;
    background-color: #f2f2f2;
}
.super{
    width:30%;
    margin-top: 4%;
}

.gorizont_dev{
    width: 40%;
    margin-top: 6%;

}
.iphone{
    width: 100%;
}
.gorizont{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/*---------------------BLOCK PROMO---------------------*/
.promo{
    width: 100%;
    height: 640px;
    position:relative;
    overflow: hidden;
}
.promo_all_sliders{
    display: -webkit-inline-box;
    overflow: hidden;
    width: 400%;
    position: absolute;
    left: 0;
    transition: 0.5s;
}

.promo > input {
    display: none;
}

.slide {
    width: 25%;
    text-align: center;
}

.promo > img {
    width: 100%;
}

.slides img{
    width: 100%;
    height: 100%;
}

.promo_slider1 {
    background: url("../img/1.jpg") round;
    height: 640px;
}
.promo_slider2 {
    background: url("../img/2.jpg") round;
    height: 640px;
}
.promo_slider3 {
    background: url("../img/3.jpg") round;
    height: 640px;
}
.promo_slider4 {
    background: url("../img/Warstwa.png") round;
    height: 640px;
}


#controls{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 90%;
}
#controls label{
    border-radius: 10px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #bbb;
}

#controls label:not(:first-child) {
    margin-left: 30px;
}

#controls label:hover{
    background:#76c8ff;
    border-color: #777;
}

.promo > #switch1:checked ~ #controls > label:nth-child(1) {
    background-color: #008ed6;
}
.promo > #switch2:checked ~ #controls > label:nth-child(2) {
    background-color: #008ed6;
}
.promo > #switch3:checked ~ #controls > label:nth-child(3) {
    background-color: #008ed6;
}
.promo > #switch4:checked ~ #controls > label:nth-child(4) {
    background-color: #008ed6;
}


#switch2:checked ~ .promo_all_sliders {
    left: -100%;
    transition: 0.5s;
}

#switch3:checked ~ .promo_all_sliders {
    left: -200%;
    transition: 0.5s;
}

#switch4:checked ~ .promo_all_sliders {
    left: -300%;
    transition: 0.5s;
}


.block_title_white{
    width: 100%;
    margin:0 auto;
    padding-top: 66px;
}
.block_title_white h3{
    color: #008ed6;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    margin-bottom: 1%;


}
.block_title_white h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color:#ffffff;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    margin: 0 auto;
}
.block_title_white h2:after {
    content:'';
    display:block;
    margin: 35px auto 0;
    width:2px;
    height: 2px;
    border-left:20px #008ed6 solid;
    border-right: 20px #008ed6 solid;
}

.opinion{
    color: #ffffff;
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-top: 7%;
    margin-left: 10%;

}
.opinion_first{
    margin-right: 5%;
}

.op{
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}
.picture_text{
    display: flex;
    flex-direction: row;
    margin-top: 6%;
}
.text_double{
    margin-left: 6%;
    margin-top: 2%;
}
.text_job{
    margin-top: 2%;
}
/*---------------------BLOCK PRICINGS----------------------*/
.pricings{
    width: 100%;
    margin: 0 auto;
}
.line{
    height: 170px;
    background-color: #15141a;
}
.black_line{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 3%;
}

.all_text{
    color: #fff;
    font-size: 36px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1%;
    margin-left: 10%;
}
.question{
    font-weight: 400;
}
.exclamation{
    font-weight: 300;
}
.margin{
    margin-right:7%;
}
.pricing{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.pricing_element {
    border: 1px #e0e0e0 solid;
    width: 270px;
    height: 490px;
    margin: 5% 20px
}
.pricing_total{
    border: 1px #e0e0e0 solid;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}
h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    height: 9%;
    margin-top: 9%;
}
.pricing_description{
    text-align: center;
    margin: 0 auto;
    margin-top: 24%;
    width: 66%;
    color: #999999;
}
.pricing_period{
    color: #999999;
}
.pricing_number{
    font-size: 60px;
}
sup{
    font-size: 30px;
}
.pricing_wrapper{
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 30%;
}
button{
    color: #008ed6;
    width: 160px;
    height: 50px;
    display:block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 50px;
    margin: 4%;
    margin-top: 29%;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 1px #e0e0e0 solid;
    cursor:pointer;
    overflow: hidden;
}

/*ПОДСВЕТКА ЭЛЕМЕНТА И КНОПОК*/
.pricing_element:hover > .pricing_total {
    background-color: #008ed6;
    color: white;
}

.pricing_description > button:hover {
    background-color: #008ed6;
    color: white;
}
/*---------------------BLOCK FOOTER---------------------*/
.contacts{
    width: 100%;
    margin: 0 auto;
    height: 1245px;
    background-color: #ededed;
}
.icon_contact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    margin-top:5%;
    margin-left: 1%;
    margin-bottom: 6%;
}
.data{
    color: #999999;
    margin-top: 12%;
}
.icon_img{
    text-align: center;
}
.forms{
    position: relative;
    width: 770px;
    height: 360px;
    background-color: #15141a;
    margin: 0 auto;

}
.forms_all{
    display: flex;
    flex-direction: row;
    margin: 5%;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    padding-top: 35px;
}


.forms_three{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 3%;
}

.inputer{
    width: 300px;
    height: 50px;
    background-color: #15141a;
    padding-left: 10px;
    color: white;
}
.inputer_two{
    width: 300px;
    height: 190px;
    background-color: #15141a;
    padding-left: 10px;
    padding-top: 10px;
    color: white;
    font-size: 16px;
}
.button_alone{
    background-color: #008ed6;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    width: 160px;
    height: 50px;
    display:block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 50px;
    cursor:pointer;
    overflow: hidden;
    margin-left: 69%;
}
.button_alone:hover{
    background-color: #008ed6;
    color: #fff;
}

iframe{
    width: 100%;
    height: 460px;
    margin-top: -8%;
}
.SMM{
    margin-top: -1%;
}
.icon_all_SMM{
    height: 160px;
    background-color: #15141a;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.icon_SMM{
    margin: 1%;
    margin-top: 3%;
}